{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Invoice - Smart Hotel</title>
<style>
body{margin:0;font-family:Poppins;background:#020617;color:white;padding:20px}
.box{max-width:400px;margin:auto;background:white;color:black;padding:25px;border-radius:12px}
button{margin-top:15px;padding:10px 20px;background:#38bdf8;border:none;border-radius:8px;color:white;cursor:pointer}
</style>
</head>
<body>

<div class="box">
<h2>Invoice</h2>
<p>Name: {{ booking.name }}</p>
<p>Email: {{ booking.email }}</p>
<p>Room: {{ booking.room_type }} - {{ booking.bedding_type }}</p>
<p>Check-in: {{ booking.check_in }}</p>
<p>Check-out: {{ booking.check_out }}</p>
<p>Meal Plan: {{ booking.meal_plan }}</p>
<p>Total: ₹{{ payment.total_amount }}</p>
<button onclick="window.print()">Print</button>
</div>

</body>
</html>
